<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a routerLink=""><img src="assets/img/logo.png" alt="" height="70px"></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a routerLink="shop-cart"><i class="fa fa-shopping-bag"></i> <span>{{totalCantidad | async }}</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>S/.{{totalCarrito | async | number: '1.1'}}</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="assets/img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Español</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth" *ngIf="usuario =='' ">
            <a routerLink="login"><i class="fa fa-user"></i> Login</a>
        </div>
        <div class="header__top__right__language" *ngIf="usuario !='' ">
            <div><i class="fa fa-user"></i> {{usuario}}</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a (click)="__on_cerrar_sesion()" >Cerrar Sesión</a></li>
            </ul>
        </div>        
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a routerLink="">Inicio</a></li>
            <li><a routerLink="shop">Tienda</a></li>
            <li><a href="#">Páginas</a>
                <ul class="header__menu__dropdown">
                    <li><a routerLink="shop-details">Detalle Producto</a></li>
                    <li><a routerLink="shop-cart">Carrito de Compras</a></li>
                    <li><a routerLink="shop-cart-checkout">Check Out</a></li>
                </ul>
            </li>
            <li><a routerLink="blog">Blog</a></li>
            <li><a routerLink="contact">Contacto</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> info&commat;tiendaverde.com</li>
            <li>Free Shipping for all Order of S/.99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> info&commat;tiendaverde.com</li>
                            <li>Envío gratis para todos los pedidos desde S/.99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <!-- <img src="assets/img/language.png" alt=""> -->
                            <div>Español</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Español</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth" *ngIf="usuario =='' ">
                            <a routerLink="login"><i class="fa fa-user"></i> Login</a>
                        </div>
                        <div class="header__top__right__language" *ngIf="usuario !='' ">
                            <!-- <a routerLink="login"><i class="fa fa-user"></i> {{usuario}}</a> -->
                            <div><i class="fa fa-user"></i> {{usuario}}</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a (click)="__on_cerrar_sesion()" style="color: #FFF!important;">Cerrar Sesión</a></li>
                            </ul>                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a routerLink=""><img src="assets/img/logo.png" height="70px"  alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a routerLink="">Inicio</a></li>
                        <li><a routerLink="shop">Tienda</a></li>
                        <!-- <li><a href="#">Páginas</a>
                            <ul class="header__menu__dropdown">
                                <li><a routerLink="shop-details">Detalle Producto</a></li>
                                <li><a routerLink="shop-cart">Carrito de Compras</a></li>
                                <li><a routerLink="shop-cart-checkout">Check Out</a></li>
                            </ul>
                        </li> -->
                        <li><a routerLink="blog">Blog</a></li>
                        <li><a routerLink="contact">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a style="cursor: pointer;" (click)="__on_validar_carntidad_carrito()"><i class="fa fa-shopping-bag"></i> <span>{{totalCantidad | async }}</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>S/.{{totalCarrito | async | number: '1.1' }}</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->
<br/><br/><br/><br/><br/><br/><br/>
<section>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</section>

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a routerLink=""><img src="assets/img/logo.png" height="70px" alt=""></a>
                    </div>
                    <ul>
                        <li>Dirección: Av. Benavides 5420, Santiago de Surco</li>
                        <li>Phone: +59 999888777</li>
                        <li>Email: info&commat;tiendaverde.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">

            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Suscríbete a nuestro boletín ahora</h6>
                    <p>Reciba actualizaciones por correo electrónico sobre nuestra última tienda y ofertas especiales.</p>
                    <form action="#">
                        <input type="text" placeholder="Ingresa tu email">
                        <button type="submit" class="site-btn">Suscríbete</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright 2024 Todos los derechos reservados</p></div>
                    <div class="footer__copyright__payment"><img src="assets/img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->